@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:root{
  --dark-bg: #11111E;
  --font-color: #fff;
  --app-bg: #FAFCFD;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--app-bg) !important;
}

html, body{
  height: 100%;
}

ul{
  list-style-type: none;
}
